.Search {
    margin-bottom: 30px;
}

.Search form {
    margin: 20px 0;
}

.Search .uk-search {
    width: 100%;
}

.Search .uk-search button {
    background-color: rgb(213, 227, 241);
}

.Search .error {
    margin-top: 0;
}
